/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEF 0
#define NAV 1
#define TYP 2
#define ADJ 3

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
    &kp GRAVE   &kp TAB     &kp Q       &kp W       &kp E       &kp R       &kp T               &kp Y       &kp U       &kp I       &kp O       &kp P       &kp LBKT    &kp RBKT
                &kp ESC     &kp A       &kp S       &kp D       &kp F       &kp G               &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp SQT
                &kp LSHFT   &kp Z       &kp X       &kp C       &kp V       &kp B               &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH    &kp BSLH
                                                    &kp LGUI    &kp SPACE   &sl NAV             &sl TYP     &kp ENTER   &kp BSPC
                        >;
                };

                navigation_layer {
                        bindings = <
    &trans      &trans      &kp EXCL    &kp AT      &kp HASH    &kp DLLR    &kp PRCNT           &kp CARET   &kp AMPS    &kp STAR    &kp LPAR    &kp RPAR    &trans    &trans
                &trans      &sk LCTRL   &sk LALT    &sk LGUI    &sk LSHFT   &trans              &trans      &kp LEFT    &kp UP      &kp RIGHT   &trans      &trans
                &trans      &trans      &trans      &trans      &trans      &trans              &trans      &trans      &kp DOWN    &trans      &trans      &trans
                                                    &trans      &trans      &to DEF             &mo ADJ     &trans      &trans
                        >;
                };

                type_layer {
                        bindings = <
    &trans      &trans      &kp N1      &kp N2      &kp N3      &kp N4      &kp N5              &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS    &kp EQUAL
                &trans      &trans      &trans      &trans      &trans      &trans              &trans      &sk RSHFT   &sk RGUI    &sk RALT    &sk RCTRL   &trans
                &trans      &trans      &trans      &trans      &trans      &trans              &trans      &trans      &trans      &trans      &trans      &trans
                                                    &trans      &trans      &mo ADJ             &to DEF     &trans      &trans
                        >;
                };

                adjust_layer {
                        bindings = <
   &reset &bootloader  &none        &none        &none        &none        &none              &none        &none        &none        &none        &none         &bootloader &reset
          &bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4       &bt BT_SEL 4 &bt BT_SEL 3 &bt BT_SEL 2 &bt BT_SEL 1 &bt BT_SEL 0  &bt BT_CLR
          &none        &none        &none        &none        &none        &none              &none        &none        &none        &none        &none         &none
                                                                    &trans &none &trans   &trans &none &trans
                        >;
                };
        };
};
