/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEF 0
#define TYP 1
#define FNC 2
#define ADJ 3

#define BRID C_BRI_DN
#define BRIU C_BRI_UP

/ {
        macros {
            ZMK_MACRO(mlock,
                wait-ms = <10>;
                tap-ms = <10>;
                bindings = 
                    <&macro_press &kp LGUI &kp LCTRL>,
                    <&macro_tap &kp Q>,
                    <&macro_release &kp LGUI &kp LCTRL>;
            )
        };

        combos {
            compatible = "zmk,combos";
            combo_term {
                timeout-ms = <50>;
                key-positions = <0 26>;
                bindings = <&kp LC(GRAVE)>;
            };
            combo_adj {
                timeout-ms = <50>;
                key-positions = <6 40>;
                bindings = <&sl ADJ>;
            };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
&mt LCTRL GRAVE &kp TAB     &kp Q       &kp W       &kp E       &kp R       &kp T               &kp Y       &kp U       &kp I       &kp O       &kp P       &kp LBKT    &kp RBKT
                &kp ESC     &kp A       &kp S       &kp D       &kp F       &kp G               &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp SQT
                &kp LSHFT   &kp Z       &kp X       &kp C       &kp V       &kp B               &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH    &kp BSLH
                                                    &kp LGUI    &kp SPACE   &kp LALT            &sl TYP     &kp ENTER   &kp BSPC
                        >;
                };

                type_layer {
                        bindings = <
    &trans      &mlock      &kp N1      &kp N2      &kp N3      &kp N4      &kp N5              &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS   &kp EQUAL
                &trans      &sk LSHFT   &sk LCTRL   &sk LALT    &sk LGUI    &trans              &kp BRIU    &kp HOME    &kp UP      &kp END     &trans      &trans
                &trans      &kp C_PREV  &kp C_PP    &kp C_NEXT  &trans      &trans              &kp BRID    &kp LEFT    &kp DOWN    &kp RIGHT   &trans      &trans
                                                    &trans      &sl FNC     &trans              &to DEF     &sk RGUI    &kp DEL
                        >;
                };

                function_layer {
                        bindings = <
    &trans      &trans      &kp F1      &kp F2      &kp F3      &kp F4      &kp F5              &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &kp F11     &kp F12
                &trans      &trans      &trans      &trans      &trans      &trans              &trans      &trans      &trans      &trans      &trans      &trans
                &trans      &trans      &trans      &trans      &trans      &trans              &trans      &trans      &trans      &trans      &trans      &trans
                                                    &trans      &trans      &trans              &trans      &trans      &trans
                        >;
                };

                adjust_layer {
                        bindings = <
   &reset &bootloader  &none        &none        &none        &none        &none              &none        &none        &none        &none        &none         &bootloader &reset
          &bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4       &bt BT_SEL 4 &bt BT_SEL 3 &bt BT_SEL 2 &bt BT_SEL 1 &bt BT_SEL 0  &bt BT_CLR
        &out OUT_USB   &out OUT_BLE &none        &none        &none        &none              &none        &none        &none        &none        &none         &none
                                                 &trans       &none        &trans             &trans       &none        &trans
                        >;
                };
        };
};
